@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";

// Create your own map
$custom-colors: (
    "color1": #000000

);
$theme-colors: (
    "primary": #3498DB
    "color2": #000000
);



$theme-colors: map-merge($theme-colors, $custom-colors);



$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 250%,
);







@import "./node_modules/bootstrap/scss/bootstrap.scss"